*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    h1{
      font-size: 50px;
    }
    ul{
      display: flex;
      gap: 15px;
      a{
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }
    .actions{
      font-size: 20px;
      display: flex;
      gap: 5px;
    }

  }
}